.fc-event {
    cursor: pointer;
}

.btn-group .btn.active {
    background-color: var(--bs-primary);
    color: white;
}

#calendar {
    background: white;
    padding: 15px;
    border-radius: 5px;
}

.fc-toolbar-title {
    font-size: 1.5em !important;
}

.fc-button {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.fc-button-active {
    background-color: var(--bs-primary-dark) !important;
}
